.fruit-store {
  font-family: 'Alegreya Sans', sans-serif;
}

.header {
  height: 75px;
  border-bottom: 9px solid #3BC898;
  position: relative;
}

.header-fruit {
  position: absolute;
  bottom: 0px;
  left: 55px;
  width: 190px;
  height: 43px;
  background-color: #3bc898;
  text-align: center;
  color: white;
  font-size: 40px;
  font-weight: 700;
  font-family: 'Open Sans', sans-serif;
}

.fruit-store-index {
  display: flex;
}

.fruit-store-items {
  display: flex;
  min-width: 970px;
  max-width: 970px;
  margin-right: 20px;
  flex-wrap: wrap;

}

.fruit-store-item {
  width: 220px;
  height: 300px;
  margin: 20px 10px 10px 10px;
  border: 1px solid #3bc898;
  text-align: center;
  position: relative;
}

.fruit-store-item-image-box {
  width: 220px;
  height: 150px;
  text-align: center;
}

.fruit-store-item-image {
  min-width: 100px;
  max-width: 200px;
  max-height: 150px;
  min-height: 100px;
  vertical-align: bottom;

}

.fruit-store-item-name {
  padding-bottom: 20px;
}

.fruit-store-price-quantity {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 70px;
  width: 200px;
}

.fruit-store-price {
  font-size: 30px;
  padding-right: 10px;
}

.fruit-store-quantity {
  padding-top: 13px;
}

.add-to-cart-item {
  position: absolute;
  bottom: 30px;
  right: 25px;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: #3bc898;
  font-size: 15px;
  cursor: pointer;
}

.cart-items {
  padding: 0;
}

.cart-index {
  width: 270px;
  height: inherit;
  background-color: #3BC898;
  text-align: center;
}

.cart-name {
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  color: white;
  margin-top: 15px;
}

.cart-item-number {
  color: white;
}

.cart-item-image {
  max-height: 70px;
  min-height: 50px;
}

.cart-item {
  padding: 0;
  width: 266px;
  height: 110px;
  background-color: white;
  border: 2px solid #3bc898;
  margin-bottom: 10px;
  text-align: left;
  position: relative;
  overflow: hidden;
}

.cart-item-first-raw {
  display: flex;
  margin-left: 20px;
}

.remove-botton, .add-botton {
  height: 15px;
  width: 25px;
  background-color: #3bc898;
  margin: 35px 5px 5px 5px;
  padding-bottom: 5px;
  font-size: 10px;
  cursor: pointer;
}

.cart-item-quantity {
  margin: 25px 5px 0 5px;
  font-size: 25px;
}

.price-per-item {
  position: absolute;
  bottom: 10px;
  left: 20px;
}

.delete-fruit {
  position: absolute;
  bottom: 7px;
  right: 5px;
  border: none;
  font-size: 15px;
  color: #3bc898;
  cursor: pointer;
}

.cart-index-bottom {
  padding-top: 15px;
  text-align: right;
  color: white;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

.cart-total {
  margin-bottom: 0;
  padding-right: 5px;
}

.empty-cart-button {
  border: none;
  width: 75px;
  background: #3bc898;
  color: white;
  margin-top: 0;
  cursor: pointer;
}

.confirm-purchase {
  float: right;
  background: #c0eee0;
  width: 200px;
  height: 35px;
  font-size: 17px;
  font-family: 'Open Sans', sans-serif;
  margin: 20px 15px 0 0;
  border-radius: 5px;
  cursor: pointer;
}
